@import "tailwindcss";

html, body, #root {
    @apply bg-blaft-800 text-blaft-600;

    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

@theme {
    --color-antiflash: #F1F2F6;
    
    --color-blaft-100: #485899;
    --color-blaft-200: #41508B;
    --color-blaft-300: #3B487D;
    --color-blaft-400: #34406F;
    --color-blaft-500: #2C365E;
    --color-blaft-600: #273053;
    --color-blaft-700: #212845;
    --color-blaft-800: #1B2037;
    --color-blaft-900: #141829;

    --color-steelblue: #3F88C5;
    --color-africanviolet: #B47EB3;
    --color-jonquill: #F7CB15;
}

.custom-scrollbar {
    scrollbar-color: var(--color-blaft-500) var(--color-antiflash);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-antiflash);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-blaft-500);
    border-radius: 4px;
    border: 2px solid var(--color-antiflash);
    transition: all 0.6s ease-in;
}

.custom-scrollbar::hover:-webkit-scrollbar-thumb{
    background-color: var(--color-blaft-700);
}
